body{
    background-color: #101031 !important;
}

nav {
    background-color: #1c1834;
    color: white;
    font-size: 20px;
    box-shadow: 2px 0 4px orange;
}

.fixed {
    position: fixed !important;
    z-index:100;
    width:100%;
    margin-top:-18px;
}

.relative {
    position: relative !important;
}

#app{
    font-family: 'Avenir' ,Helvetica;
    text-align: center;
    color:white;
    width: 100%;
    min-height: 100vh;
}

.movie-card {
    max-width: 200px !important;
    max-height: 350px;
    border: 2px solid #fe0000;
    border-radius: 20px;
    margin: 5px 10px;
    background: rgba(39, 34, 68, 0.68);
}

.movie-card:hover {
    border: 2px solid #011efe;
    box-shadow: 1px 1px 7px aquamarine;
}

.movie-card--title {
    font-size: 15px;
    color: orangered;
}

.movie-card--img {
    width:70%;
    max-height: 150px;
}

.movie-card--link {
    width:100%;
    color:white;
    background-color: rgba(66, 65, 65, 0.76);
    padding: 5px 20px;
    border-radius: 20px;
}

.movie-card--link:hover {
    color:red;
}

.film-random {
    width:25%;
    margin: 10px auto
}
.film-random--title {
     color:black;
     text-align: center;
 }

.film-random--date {
    color:black;
    text-align: center;
}

.film-details {
    display: flex;
    flex-direction: row;
    background-color: #0a0a0c;
    border-radius: 20px;
    min-width:500px;
    margin:30px auto;
}

.film-details--info {
    margin: 60px auto;
}

.film-details--title {
    font-size: 25px;
    color: #fe0000;
}

.film-details--date {
    font-size:20px;
    color: lightgrey;
}

.film-details--img{
    max-width: 200px;
    max-height: 250px;
}

.filter{
    display:flex;
    width:250px;
    background-color: rgba(32, 32, 85, 0.68);
    margin:20px 0;
    padding:10px;
    border-radius: 20px;
}

footer{
    position: absolute;
    bottom: 0;
    display:flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 50px;
    box-shadow: 2px 0 4px orange;
    background-color: #1c1834;
}

.footer-item{
    font-size: 20px;
    color:white;
    margin:0 10px;
}

.footer-item:hover{
    font-weight: 600;
    color: cornflowerblue;
}

@media screen and (max-width: 576px){
    .film-random{
        width:70%;
    }
    .movie-card {
        margin: 5px auto;
    }
    .film-details {
        flex-direction: column;
        min-width: 300px;
        margin:10px auto;
    }
}
@media screen and (max-width: 1200px){
    footer{
        position: relative;
    }
}

